beautifulsoup4
bs4
certifi        
chardet
charset-normalizer
click
Flask
Flask-Cors
gunicorn
idna
itsdangerous
Jinja2
lxml
MarkupSafe1
mysql-connector-python
protobuf
pymongo
python-dateutil
pytz
requests
selenium
six
soupsieve
urllib3
Werkzeug
wincertstore

